@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

:root {
  --primary-font: "Roboto", sans-serif;
  --primary-color: RGB(102, 101, 133);
  --accent-color: RGB(100, 112, 230);
  --bg-color-primary: RGB(248, 249, 254);
  font-family: var(--primary-font);
  color: var(--primary-color);
  background-color: var(--bg-color-primary);
}